<main class="landing-page">
  <div class="lead-title">
    <h1>Get an <span class="accent-colour">email</span> when a <span class="accent-colour">GitHub AMA</span> question gets <span class="accent-colour">answered</span></h1>
  </div>

  <div class="lead-cta">
    <div class="cta">
      <a href="/auth/github" >
        <svg width="16px" height="16px" viewBox="0 0 16 16" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
          <!-- Generator: Sketch 42 (36781) - http://www.bohemiancoding.com/sketch -->
          <desc>Created with Sketch.</desc>
          <defs></defs>
          <path d="M8,0 C3.58,0 0,3.582 0,8 C0,11.535 2.292,14.533 5.47,15.59 C5.87,15.665 6.017,15.418 6.017,15.205 C6.017,15.015 6.01,14.512 6.007,13.845 C3.781,14.328 3.312,12.772 3.312,12.772 C2.948,11.848 2.422,11.602 2.422,11.602 C1.697,11.106 2.478,11.116 2.478,11.116 C3.281,11.172 3.703,11.94 3.703,11.94 C4.417,13.163 5.576,12.81 6.033,12.605 C6.105,12.088 6.311,11.735 6.54,11.535 C4.763,11.335 2.896,10.647 2.896,7.582 C2.896,6.709 3.206,5.995 3.719,5.435 C3.629,5.233 3.359,4.42 3.789,3.318 C3.789,3.318 4.459,3.103 5.989,4.138 C6.629,3.96 7.309,3.872 7.989,3.868 C8.669,3.872 9.349,3.96 9.989,4.138 C11.509,3.103 12.179,3.318 12.179,3.318 C12.609,4.42 12.339,5.233 12.259,5.435 C12.769,5.995 13.079,6.709 13.079,7.582 C13.079,10.655 11.209,11.332 9.429,11.529 C9.709,11.769 9.969,12.259 9.969,13.009 C9.969,14.079 9.959,14.939 9.959,15.199 C9.959,15.409 10.099,15.659 10.509,15.579 C13.71,14.53 16,11.53 16,8 C16,3.582 12.418,0 8,0" id="Shape" stroke="none" fill="#ECF0F1" fill-rule="evenodd"></path>
        </svg>
        <span class="text">Sign In with Github</span>
      </a>
    </div>
  </div>

  <div class="cta-followup">
    <h2>So, how does this work?</h2>
    <ol>
      <li>Sign in with your GitHub account</li>
      <li>Star AMA's you're interested in</li>
      <li>Get email notifications when questions are answered</li>
    </ol>
  </div>
</main>
