<main class="profile">
  <div class="wrapper">
    <div class="notification-setting">
      <div class="current-setting">
        <div class="label">Your current notification schedule:</div>
        <div class="setting">
          <% if current_user.notification_schedule == 1 %>
            once a day / <%= link_to "multiple times a day", action: "update" %>
           <% else %>
            <%= link_to "once a day", action: "update" %> / multiple times a day
          <% end %>
        </div>
      </div>
    </div>
    <div class="ama-list">
      <h2>Starred AMA's:</h2>
      <ul>
        <% @repos.each do |repo| %>
          <li>
            <%= link_to repo.full_name, "https://github.com/#{repo.full_name}" %>
          </li>
        <% end %>
      </ul>
    </div>
    <div class="more-ama">
      <%= link_to 'Looking for more AMAs?' ,'https://github.com/sindresorhus/amas' %>
    </div>
  </div>
</main>
