.user-avatar {
  a {
    display: flex;
    align-items: center;
    text-decoration: none;

    .username {
      margin-right: 0.5rem;
      color: $black;
    }

    .avatar {
      img {
        height: 2rem;
        width: 2rem;
        border-radius: 1rem;
      }
    }
  }
}
