.landing-page {
  padding: 2rem 0.5rem;

  .lead-title {
    h1 {
      margin: 3rem auto;
      text-align: center;
      color: $black;
      font-size: 2rem;
    }

    .accent-colour {
      color: $brand-color;
    }
  }

  .lead-cta {
    margin: 4rem auto;

    .cta {
      text-align: center;

      a {
        background-color: $brand-color;
        border-radius: 0.5rem;
        display: inline-block;
        color: $white;
        text-decoration: none;
        padding: 1rem 2.5rem;

        svg {
          display: inline-block;
          vertical-align: baseline;
        }

        .text {
          font-size: 20px;
          padding-left: 0.5rem;
        }
      }
    }
  }

  .cta-followup {
    color: $black;
    text-align: center;

    h2 {
      font-size: 2rem;
    }

    ol {
      margin: auto;
      list-style-position: inside;
      list-style: none;
      counter-reset: li;
      padding-left: 0;

      li {
        counter-increment: li;
        font-size: 1.25rem;
        padding-bottom: 0.75rem;
      }

      li::before {
        content: counter(li);
        color: $brand-color;
        font-weight: 700;
        display: inline-block;
        width: 2rem;
        margin-left: -1rem;
      }
    }
  }
}
