.profile {
  .wrapper {
    padding: 4rem 1rem;
    text-align: center;

    h2 {
      color: $brand-color;
      margin: 0;
    }

    .notification-setting {
      font-size: 1.5rem;

      .label {
        color: $brand-color;
        font-weight: 700;
      }

      .current-setting {
        padding-bottom: 2rem;
      }
    }
    .ama-list {
      padding: 3rem 0;

      h2 {
        font-size: 2.5rem;
      }

      ul {
        list-style: none;
        padding: 0;

        li {
          padding-bottom: 0.25rem;
          font-size: 1.15rem;

          a {
            color: $black;
          }
        }
      }
    }

    .more-ama {
      font-size: 1.5rem;
      font-weight: 700;

      a {
        color: $brand-color;
      }
    }
  }
}
